<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Практична робота 3</title>

<style>

body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#1d4350,#a43931);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:50px;
border-radius:12px;
text-align:center;
width:420px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

a{
display:block;
margin-top:20px;
padding:12px;
background:#1d4350;
color:white;
text-decoration:none;
border-radius:8px;
}

a:hover{
background:#132c33;
}

</style>
</head>

<body>

<div class="container">

<h1>Калькулятор розрахунку прибутку від сонячних електростанцій з встановленою системою прогнозування сонячної потужності</h1>

<a href="/calc">Перейти до розрахунку</a>

</div>

</body>
</html>